

<% include partials/header.ejs %>




    <main role="main" class="container-fluid">
    
    

     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item item active">
      <div class="banner-curve"><img class="image-responsive" src="/overlay.png"></div>   
      <img class="d-block img-fluid" src="/birthday-cake-380178_1920.jpg" alt="First slide">
    </div>
    <div class="carousel-item item">
    <div class="banner-curve"><img class="image-responsive" src="/overlay.png"></div> 
      <img class="d-block img-fluid" src="/cupcakes-690040_1920.jpg" alt="Second slide">
    </div>
    <div class="carousel-item item">
    <div class="banner-curve"><img class="image-responsive" src="/overlay.png"></div> 
      <img class="d-block img-fluid" src="/pancakes-2020863_1920.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </main><!-- /.container -->

  <div class="row welcome container">
      <div class="col-xs-9 col-md-7 welcome-cake"></div>
      <div class="col-xs-3 col-md-5 centered">
      <% Home.forEach(function(Home) { %>

        <h2><%=Home.topTitle%></h2>
        <h3><%=Home.topSmallTitle%></h3>
        <p><%=Home.topDescription%></p>        
        
        <% }); %>   
         
        <button type="button" class="btn btn-success">Read more</button>
      </div>
  </div>

    <div class="row welcome container">      
      <div class="col-xs-9 col-md-7 centered">

       <% Home.forEach(function(Home) { %>

        <h2><%=Home.bottomTitle%></h2>
        <h3><%=Home.bottomSmallTitle%></h3>
        <p><%=Home.bottomDescription%></p>        
        
        <% }); %>
               
        <button type="button" class="btn btn-success">Read more</button>
      </div>
      <div class="col-xs-3 col-md-5 about-cake">
      </div>
  </div>

  <div class="container-fluid grey-background">
  <div class="row container welcome">
    <div class="col-md-12">
    <h1 class="has-scroll-reveal animation fadeInUp">Confectionary services including</h1>
    <h3 class="has-scroll-reveal animation fadeInUp">I love toffee lemon drops marshmallow gummi bears...</h3>
    </div>
   
  </div>
  

  <div class="row container col-centered">
    
    <div class="col-xs-12 col-md-4 has-scroll-reveal animation fadeInUp">
      <div class="container white-background">
      <div class="container">
        <div class="row">    
          <div class="col-md-6">  
            <img class="cake-service" src="/page1_icon1.png">
         </div>
         <div class="col-md-6 centered">
           <p class="title accent-color1">Birthday Cakes</p>
        </div>
      </div>
      <hr>       
      <h3>Jelly-o cupcake lemon drops tootsie</h3>
      <p>Cupcake ipsum dolor sit. Amet chupa chups powder biscuit. I love pie pastry I love. I love toffee lemon drops marshmallow gummi bears topping bonbon muffin powder.</p>
      <a href="/services" class="btn btn-success">More information</a>
    
      </div>
    </div>
     </div>
  
  
  <div class="col-xs-12 col-md-4 has-scroll-reveal animation fadeInUp">
   <div class="container white-background">
   <div class="container">
      <div class="row"> 
       <div class="col-md-6">  
        <img class="cake-service" src="/page1_icon2.png">  
      </div>
      <div class="col-md-6 centered"> 
        <p class="title accent-color2">Muffins</p>
        </div>
      </div>
      <hr>
      
      <h3>Powder chocolate bar sesame snaps cookie apple pie bear claw cake fruitcake danish.</h3>
      <p>Halvah tiramisu powder soufflé pie candy canes biscuit. Cheesecake ice cream jujubes chocolate bar lemon drops jujubes oat cake.</p>
      <a href="/services" class="btn btn-success">More information</a>
    </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-md-4 has-scroll-reveal animation fadeInUp">
   <div class="container white-background">
    <div class="container">
    <div class="row"> 
    <div class="col-md-6"> 
    <img class="cake-service" src="/page1_icon3.png">  
    </div>
     <div class="col-md-6 centered"> 
    <p class="title accent-color3">Donuts</p>
    </div>
    </div>
    <hr>
   
    <h3>Some text will go here, definitely.</h3>
    <p>Nummy nrerit uris. Pha sellrtsce scipit varius mi. Cum sociistoque pentibus et magnis diarturt scetur rimulug maleada.</p>
    <a href="/services" class="btn btn-success">More information</a>
    </div>
  
  </div>
  </div>  
  </div>  
  </div>

  <div class="container testimonials">

  <div class="row container welcome">
    <div class="col-md-12">
    <h1 class="has-scroll-reveal animation fadeInUp">Delicious cakes equals many happy customers. :)</h1>    
    </div>
  </div>
  

  <div class="row container col-centered">
    
    <div class="col-xs-12 col-md-12 col-lg-4 has-scroll-reveal animation fadeInUp">
      <div class="container white-background">
      <div class="thumbnail">
       <img class="testimonial-picture" src="rekakosi.jpg">
       <div class="testimonial-name">Reka K.</div> 
       </div>     
       <div class="triangle"></div>  
       <div class="speech-bubble font-italic">"5* service, delicious cakes, cheap prices."</div>
      
      </div>
    </div>
  
   
  <div class="col-xs-12 col-md-12 col-lg-4 has-scroll-reveal animation fadeInUp">
   <div class="container white-background">
   <div class="thumbnail">
      <img class="testimonial-picture" src="/korodidori.jpg">  
      <div class="testimonial-name">Dora K.</div>  
      </div>        
      <div class="triangle"></div>
      <div class="speech-bubble font-italic">"Hands down the best cakes in Manchester."</div>
      
    </div>
  </div>
  
  <div class="col-xs-12 col-md-12 col-lg-4 has-scroll-reveal animation fadeInUp">
    <div class="container white-background">
     <div class="thumbnail">
      <img class="testimonial-picture" src="/marktoth.jpg">  
      <div class="testimonial-name">Mark T.</div>    
      </div>
      <div class="triangle"></div>
      <div class="speech-bubble font-italic">"Kate's made a cake for my last birthday, it was delicious."</div>
    </div>
  </div>

</div>

</div>

<% include partials/footer.ejs %>

 

    

    
  

</body>
</html>